.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

@media (max-width: 1636px) {
  .container {
    max-width: 1280px;
  }
  /* nav-bar */
  .navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    position: relative;   
    top: 0px;
    background-color: white;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  .sidebar {
    display: none;
  }
   .hide-side-bar-component {
    height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.7s;
  }
  .navBar-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: black;
    border-left: 3px solid;
    padding: 5px;
    width: 250px;
  }
  p {
    font-family: "Courier New", Courier, monospace;
    font-size: medium;
  }
  .nav-list ul {
    display: flex;
    text-align: center;
    position: relative;
  }

  .ul-list li {
    position: relative;   
    text-decoration: none;
    list-style-type: none;
    font-family: "Courier New", Courier, monospace;
    font-size: large;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    border-top: 2px solid;
    border-color: transparent;
    transition: all 0.3s;
    padding: 1.5rem;
  }
  .ul-list li:hover { 
    color: rgb(236, 117, 137); 
  }
  .signup-btn {
    background-color: transparent;
    color: black;
    padding: 5px;
    font-size: 16px;
    font-family: "Courier New", Courier, monospace;
    width: 145px;
    border-radius: 20px;
    border-color: rgb(236, 117, 137);
    margin-bottom: 15px;
    transition: all 0.5s;
    cursor: pointer;
  }
  .signup-btn:hover {
    background-color: rgb(241, 138, 155);
    transform: rotate(5deg);
  }
  .bars-icon {
    display: none;
  }
  /* landing page */
  .landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero-image {
    background-image: url("https://media.istockphoto.com/id/850201134/photo/african-bush-elephants-loxodonta-africana.webp?b=1&s=170667a&w=0&k=20&c=NBNQvOYAFKiAlenK1uPmoMI-uJYEFLZ7c16grm7cJLI=");
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 1500px;
    margin: 10px;
    border: none;
    border-radius: 80px 0px 0px 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  .hero-text {
    text-align: center;
    top: 50%;
    left: 50%;
    color: white;
  }
  .hero-content {
    text-align: center;
  }
  .hero-content h1 {
    font-size: 70px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 800;
  }
  .hero-content h3 {
    font-size: 30px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-weight: 400;
    font-style: italic;
    text-shadow: 1px 1px darkgray;
    line-height: 2.5rem;
  }
  @keyframes slideInLeft {
    0% {
      opacity: 0;
      transform: translateX(-200px);
    }
    20% {
      transform: translate(-150px);
    }
    60% {
      transform: translateX(0);
    }
    80% {
      transform: translate(-30px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .style-text {
    color: rgb(221, 57, 85);
    font-family: "Courier New", Courier, monospace;
    font-variant: initial;
    animation: slideInLeft 2s linear;
  }

  /* service divs */
  .services-div {
    display: flex;
    justify-content: space-evenly;
  }
  .services-div div {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 10px;
  }
  .service-img {
    width: 100%;
    min-height: 300px;
    margin: auto;
    border-radius: 5px;
  }
  .card-div {
    display: flex;
    flex-direction: row-reverse;
    gap: 5rem;
    padding: 1rem;
  }
  .card-img {
    width: 500px;
    height: 400px;
    border-radius: 50px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  #readM-btn {
    background-color: white;
    border: 0ch;
    color: rgb(202, 78, 78);
    cursor: pointer;
    font-size: 1.1rem;
  }
  #readM-btn:hover {
    color: rgb(119, 7, 25);
  }
  .card-title {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
  }
  .card-text-location {
    border: 1px solid;
    max-width: 100px;
    text-align: center;
    border-color: rgb(236, 117, 137);
  }
  /* review section */
  .illustration-travell {
    max-width: 500px;
    min-height: 500px;
  }
  .reviews-illustration-div {
    display: flex;
    justify-content: space-around;
    gap: 5rem;
  }
  .review-div {
    max-width: 600px;
    height: auto;
    margin: 10px;
    padding: 70px 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
  }
  .review-div:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  .review-img {
    border-radius: 50%;
    display: block;
    width: 180px;
    margin: auto;
    height: 180px;
  }
  .review-icons {
    display: flex;
    justify-content: space-evenly;
    width: 150px;
    margin: auto;
  }
  .angle {
    width: 30px;
    height: 30px;
    color: rgb(247, 166, 179);
    cursor: pointer;
  }

  /* question sector */
  .question-illustration-div {
    display: flex;
    justify-content: space-around;
    gap: 5rem;
  }
  .question-div {
    max-width: 600px;
    height: auto;
    margin: 20px;
    padding: 20px 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  .question-info {
    font-family: "Courier New", Courier, monospace;
    font-size: large;
    color: rgb(221, 57, 85);
    padding: 5px;
  }
  .question-icon {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 1px 5px rgba(238, 18, 18, 0.1);
    padding: 15px;
    margin: 10px;
    margin-top: 0;
  }
  .question-title {
    font-size: 1.5rem;
  }
  .plus-minus-icon {
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    color: rgb(238, 82, 108);
  }
  .plus-minus-icon:hover {
    color: red;
    transform: translateY(-2px);
    font-size: 1.7rem;
  }
  .submenu{
    background-color:white;
    box-shadow:0 5px 15px rgba(0, 0, 0, 0.2);  
    text-align: center; 
    position: absolute;
    top:6rem;
    left: 50%; 
    cursor: pointer;
    transition: all 0.5s; 
    padding: 2rem;
    border-radius: 5px; 
    transform: translateX(-50%);
    z-index: 3; 
    display: none;   
  }
  .submenu::before {
    content: '';
    display: block;
    width: 0;
    height: 0; 
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
    border-bottom: 10px solid #fff; 
    position: absolute; 
    top: -5px;
    left: 50%;
    transform: translateX(-50%); 
  }
  .show-submenu{
    display: block;
  } 
  .submenu-center {
  display: grid;
  gap: 0.25rem 2rem;
}
.col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.col-3 {
  grid-template-columns: repeat(3, 1fr);
}
.col-4 {
  grid-template-columns: repeat(4, 1fr);
}
.submenu h4 {
  margin-bottom: 1.5rem;
}
.submenu-center a {
  width: 10rem;
  display: block;
  color:  hsl(209, 61%, 16%); 
  text-transform: capitalize;
  display: flex;
  align-items: center;
}
.submenu-center svg {
  color: hsl(210, 22%, 49%); 
  margin-right: 1rem;
}
}

/* ------------------------------------------------ */

@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
  .signup-btn {
    background-color: transparent;
    color: black;
    padding: 5px;
    font-size: 15px;
    font-family: "Courier New", Courier, monospace;
    width: 142px;
    border-radius: 20px;
    border-color: rgb(236, 117, 137);
    margin-bottom: 15px;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 30px;
  }
  .card-div {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    padding: 1rem;
    height: auto;
  }
  .illustration-travell {
    max-width: 450px;
    min-height: 450px;
  }
  .ul-list li {
    text-decoration: none;
    padding: 1rem;
    list-style-type: none;
    font-family: "Courier New", Courier, monospace;
    font-size: large;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    border-top: 2px solid;
    border-color: transparent;
    transition: all 0.3s;
  }
}

/* --------------------------------------------------------------------------------- */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  } 
   .show-submenu{
    display: none;
  } 
  .nav-list ul {
    display: none;
  }
  .signup-btn {
    display: none;
  }
  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
  }
  .show-side-bar-component {
    height: 400px;
    transition: all 0.7s;
    overflow: hidden;
  }
  .hide-side-bar-component {
    height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.7s;
  }

  .div-list-sidebar {
  
    text-align: center;
    width: 100%;
  }
  .div-list-sidebar ul {
    width: 100%;
    margin: auto;
  }

  .ul-list-sidebar li {
    list-style-type: none;
    margin: 2px;
    padding: 10px;
    transition: all 0.4s;
    cursor: pointer;
    border-radius: 10px;
    font-size: 25px;
  }
  .ul-list-sidebar li:hover {
    background-color: rgb(250, 205, 212);
    transform: translateX(8px);
  }
  .signup-btn-sidebar {
    background-color: transparent;
    color: black;
    padding: 10px;
    font-size: 20px;
    font-family: "Courier New", Courier, monospace;
    width: 200px;
    border-radius: 20px;
    border-color: rgb(236, 117, 137);
    background-color: rgb(241, 138, 155);
    margin: 15px;
    transition: all 1s;
    cursor: pointer;
    text-align: center;
  }
  .signup-btn-sidebar:hover {
    background-color: rgb(240, 42, 75);
  }
  .close-icon {
    position: relative;
    right: -250px;
    font-size: large;
    cursor: pointer;
    transition: 1s;
  }
  .close-icon:hover {
    transform: rotate(90deg);
    color: rgb(240, 42, 75);
  }

  .card-div {
    display: flex;
    flex-direction: column;
    padding: 0rem;
  }
  .card-img {
    width: 700px;
    height: 400px;
    border-radius: 50px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  .card-text-location {
    border: 1px solid;
    max-width: 100px;
    text-align: center;
    border-color: rgb(236, 117, 137);
    margin: auto;
    margin-top: 0;
  }
  .reviews-illustration-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5rem;
  }
  .review-div {
    max-width: 600px;
    height: auto;
    margin-bottom: 0px;
    padding: 70px 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    margin: auto;
  }
  .question-illustration-div {
    display: flex;
    flex-direction: column-reverse;
  }
  .question-div {
    max-width: 600px;
    height: auto;
    margin: auto;
    padding: 20px 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  .illustration-question {
    display: none;
  }
  .ilustration-person-with-bag {
    width: 400px;
    height: 400px;
    margin: auto;
  }
  .person-with-bag-img {
    width: 300px;
    height: 300px;
    margin: auto;
  }
  .bars-icon {
    width: 40px;
    height: 30px;
    display: inline;
    position: relative;
    right: -150px;
    cursor: pointer;
    transition: all 1s;
  }
  .bars-icon:hover {
    color: rgb(196, 51, 75);
    transform: rotate(90deg);
  }
  .hero-content h1 {
    font-size: 50px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 750px;
  }
  .hero-content h3 {
    font-size: 25px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-weight: 350px;
    font-style: italic;
    text-shadow: 1px 1px darkgray;
    line-height: 2.3rem;
  }
  .landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}
/* -------------------------------------------------------------------------------------------- */

@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
  .hero-content h1 {
    font-size: 45px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 750px;
  }
  .hero-content h3 {
    font-size: 22px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-weight: 350px;
    font-style: italic;
    text-shadow: 1px 1px darkgray;
    line-height: 2.3rem;
  }
  .landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
  }
  .bars-icon {
    width: 39px;
    height: 29px;
    display: inline;
    position: relative;
    right: -110px;
    cursor: pointer;
    transition: all 1s;
  }
    .close-icon {
    position: relative;
    right: -230px;
    font-size: large;
    cursor: pointer;
    transition: 1s;
  }

  .services-div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .services-div div {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 10 10px;
  }
  .service-img {
    width: 100%;
    min-height: 300px;
    margin: auto;
    border-radius: 5px;
  }
  .card-img {
    width: 600px;
    height: 400px;
    border-radius: 50px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  .reviews-illustration-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0rem;
  }
    .ul-list-sidebar li {
    list-style-type: none;
    margin: 2px;
    padding: 10px;
    transition: all 0.4s;
    cursor: pointer;
    border-radius: 10px;
    font-size: 23px;
  }
    .signup-btn-sidebar {
    background-color: transparent;
    color: black;
    padding: 10px;
    font-size: 18px;
    font-family: "Courier New", Courier, monospace;
    width: 180px;
    border-radius: 20px;
    border-color: rgb(236, 117, 137);
    background-color: rgb(241, 138, 155);
    margin: 15px;
    transition: all 1s;
    cursor: pointer;
    text-align: center;
  }
}

/* --------------------------------------------- */

@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
  .card-img {
    width: 400px;
    height: 300px;
    border-radius: 50px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  .bars-icon {
    width: 39px;
    height: 29px;
    display: inline;
    position: relative;
    right: -60px;
    cursor: pointer;
    transition: all 1s;
  }
    .close-icon {
    position: relative;
    right: -200px;
    font-size: large;
    cursor: pointer;
    transition: 1s;
  }
  .hero-content h1 {
    font-size: 33px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 740px;
  }
  .hero-content h3 {
    font-size: 19px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-weight: 345px;
    font-style: italic;
    text-shadow: 1px 1px darkgray;
    line-height: 2.2rem;
  }
  .landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
  }
  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: auto;
  }

  .question-div {
    max-width: 500px;
    height: auto;
    margin: auto;
    padding: 20px 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  .review-div {
    max-width: 500px;
    height: auto;
    margin-bottom: 0px;
    padding: 70px 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    margin: auto;
  }
  .navBar-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: black;
    border-left: 3px solid;
    padding: 4px;
    width: 240px;
  }
  .reviews-illustration-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0rem;
  }
     .ul-list-sidebar li {
    list-style-type: none;
    margin: 2px;
    padding: 10px;
    transition: all 0.4s;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
  }
      .signup-btn-sidebar {
    background-color: transparent;
    color: black;
    padding: 10px;
    font-size: 17px;
    font-family: "Courier New", Courier, monospace;
    width: 170px;
    border-radius: 20px;
    border-color: rgb(236, 117, 137);
    background-color: rgb(241, 138, 155);
    margin: 15px;
    transition: all 1s;
    cursor: pointer;
    text-align: center;
  }
}

/* ------------------------------ */
@media (max-width: 475px) {
  .container {
    max-width: 100%;
  }
  .hero-content h1 {
    font-size: 25px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: 700px;
  }
  .hero-content h3 {
    font-size: 15px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-weight: 345px;
    font-style: italic;
    text-shadow: 1px 1px darkgray;
    line-height: 2rem;
  }
  .landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .question-div {
    max-width: 350px;
    height: auto;
    margin: auto;
    padding: 20px 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: auto;
  }
  .review-div {
    max-width: 350px;
    height: auto;
    margin-bottom: 0px;
    padding: 70px 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s;
    margin: auto;
  }
  .ilustration-person-with-bag {
    width: 350px;
    height: 350px;
    margin: auto;
  }
  .person-with-bag-img {
    width: 300px;
    height: 300px;
    margin: auto;
  }
  .card-div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 10px;
    background-color: rgb(8, 51, 51);
    color: white;
    border-radius: 5px;
    padding: 10px;
  }
  .card-img {
    border-radius: 2px;
    margin-bottom: 0px;
    width: 100%;
  }

  .navBar-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: black;
    border-left: 3px solid;
    padding: 4px;
    width: 240px;
  }
  .bars-icon {
    width: 30px;
    height: 23px;
    display: inline;
    position: relative;
    right: -20px;
    cursor: pointer;
    transition: all 1s;
  }
    .close-icon {
    position: relative;
    right: -120px;
    font-size: large;
    cursor: pointer;
    transition: 1s;
  }
  .card-text-location {
    border: 2px solid;
    max-width: 100px;
    text-align: center;
    border-color: rgb(236, 117, 137);
    margin: auto;
    margin-bottom: 10px;
    color: white;
  }
  #readM-btn {
    background-color: white;
    border: 0ch;
    color: rgb(202, 78, 78);
    cursor: pointer;
    font-size: 1.1rem;
    background-color: transparent;
  }
  .reviews-illustration-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0rem;
  }
     .ul-list-sidebar li {
    list-style-type: none;
    margin: 2px;
    padding: 10px;
    transition: all 0.4s;
    cursor: pointer;
    border-radius: 10px;
    font-size: 17px;
  }
      .signup-btn-sidebar {
    background-color: transparent;
    color: black;
    padding: 10px;
    font-size: 15px;
    font-family: "Courier New", Courier, monospace;
    width: 170px;
    border-radius: 20px;
    border-color: rgb(236, 117, 137);
    background-color: rgb(241, 138, 155);
    margin: 15px;
    transition: all 1s;
    cursor: pointer;
    text-align: center;
  }
}
